body{
	margin: 100px auto;
}

table {
    width: 100%;
	border-collapse: collapse;
}
th {
       background: gainsboro;
	border: 1px solid white;
}
td{
	border: 1px solid black;
}
#windows{
    display: none;
}
